@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400&family=Raleway:wght@300;400&display=swap");

@font-face {
  font-family: 'stoner';
  src: url("/fonts/stoner-Regular.woff"),
    url("/fonts/stoner-Regular.ttf") format("truetype"),
    url("/fonts/stoner-Regular.otf") format("opentype");
}

html {
  font-size: 14px;
  font-weight: 300;
  color: white;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: black;
}

p {
  margin: 1.5rem 0;
}

p:first-of-type {
  margin-top: 0;
}
